:root {
    --Primary-Orange: #fc5430;
    --Primary-Milky-white: #ffe8d7;
    --Defaut-White: #fff;
    --Neutral-50: #f6f6f6;
    --Neutral-100: #f2f2f2;
    --Neutral-200: #e8e8e8;
    --Neutral-300: #b9b9b9;
    --Neutral-400: #a1a1a1;
    --Neutral-500: #8a8a8a;
    --Neutral-600: #727272;
    --Neutral-700: #5b5b5b;
    --Neutral-800: #373737;
    --Neutral-900: #1a1a1a;
    --Defaut-Black: #000;
    --Orange-900: #601201;
    --Orange-700: #c42503;
    --Orange-200: #fffbfa;
    --Status-Green: #298900;
    --Status-tm: #644bf6;
    --Status-Yellow: #faad14;
    --Status-Red: #ed0001;
    --Status-Xm: #d8d8d8;
    --Status-Blue: #2e54c3;
    --Grey-50: #f9fafb;
    --trans: cubic-bezier(0.165, 0.84, 0.44, 1);
    --lines: 1;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    min-height: 100vh;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    font-family: Barlow, sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

i {
    color: var(--primary-cl);
}
/* color */
.txt_white {
    color: var(--Defaut-White);
}
.txt_black {
    color: var(--Defaut-Black);
}
.txt_orange {
    color: var(--Primary-Orange);
}
.txt_orange_900 {
    color: var(--Orange-900);
}
/* close color */
/* Typography */
.regular_32,
.medium_32,
.bold_32 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.384px;
}

.regular_24,
.medium_24,
.bold_24 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.288px;
}
.regular_20,
.medium_20,
.bold_20 {
    font-size: 20px;
    line-height: 28px; /* 140% */
    letter-spacing: 0.24px;
}
.regular_16,
.medium_16,
.bold_16 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.regular_14,
.medium_14,
.bold_14 {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.168px;
}
.regular_12,
.medium_12,
.bold_12 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.18px;
}
.regular_10,
.medium_10,
.bold_10 {
    font-size: 10px;
    line-height: 12px; /* 120% */
    letter-spacing: 0.12px;
}
.bold_32,
.bold_24,
.bold_20,
.bold_16,
.bold_12,
.bold_10 {
    font-weight: bold;
}
.medium_32,
.medium_24,
.medium_20,
.medium_16,
.medium_12,
.medium_10 {
    font-weight: 500;
}
.regular_32,
.regular_24,
.regular_20,
.regular_16,
.regular_12,
.regular_10 {
    font-weight: 400;
}

/* define */
.clamp-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.container {
    max-width: 1214px;
    margin: 0 auto;
    padding: 0 15px;
}
.dots {
    margin-top: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}
.dot_item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fed1c8;
    transition: all 0.25s linear;
    cursor: pointer;
}
.dot_item.is-active,
.dot_item:hover {
    background-color: var(--Primary-Orange);
}
.hidden {
    display: none !important;
}
/* close define */

/* header */
.header_top {
    background-color: var(--Primary-Orange);
    padding: 20px 0;
}
.header_top_box {
    display: flex;
    align-items: center;
}
.header_top_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_top_requied {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-right: 16px;
    border-right: 1px solid var(--Primary-Milky-white);
}
.header_phone {
    margin-left: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 20px;
    background: var(--Primary-Milky-white, #ffe8d7);
    cursor: pointer;
}
.header_phone_img {
    width: 24px;
    height: 24px;
    padding: 2px;
}
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_search {
    display: flex;
    width: 480px;
    height: 44px;
    padding: 4px 4px 4px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Neutral-100, #f2f2f2);
}
.header_search input {
    width: 100%;
    outline: none;
    border: 0;
    outline: none;
    overflow: hidden;
    color: var(--Neutral-300, #b9b9b9);
}
.header_search input::placeholder {
    color: var(--Neutral-300, #b9b9b9);
}
.header_search button {
    display: flex;
    width: 56px;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 4px;
    background: var(--Primary-Orange, #fc5430);
}
.header_mid {
    padding: 8px 0;
    border-bottom: 1px solid var(--Neutral-200, #e8e8e8);
}
.header_mid_right {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header_cart {
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_cart_img {
    width: 28px;
    height: 28px;
    position: relative;
}
.header_cart img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header_amount {
    color: var(--Primary-Milky-white, #ffe8d7);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Primary-Orange);
    width: 14px;
    height: 14px;
    border-radius: 100rem;
    position: absolute;
    right: -6px;
    top: -6px;
}
.header_regis {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 24px 10px 10px;
}
.header_regis_icon {
    width: 24px;
    height: 24px;
}
.header_login {
    color: var(--Orange-200, #fffbfa);
    text-align: center;
    display: flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 12px;
    background: var(--Primary-Orange, #fc5430);
}
/* nav */
.header_bot {
    padding: 20px 0;
}
.navbar {
    display: flex;
    gap: 24px;
    align-items: center;
    background-color: white;
    justify-content: center;
}
.navbar a {
    position: relative;
}
.navbar .dropdown::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    transform: translateY(15px);
}
.navbar .dropdown:hover img {
    transform: rotate(180deg);
}
.navbar a,
.dropdown-content a {
    color: var(--Neutral-900, #1a1a1a);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.4px;
}

.navbar a.active,
.navbar a:hover {
    color: var(--Primary-Orange, #fc5430);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translateY(0px);
    background-color: white;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 1;
    transition: all 0.2s ease-out;
    border-radius: 8px;
    overflow: hidden;
}

.dropdown-content a {
    padding: 10px;
}

.dropdown a {
    display: flex;
    align-items: center;
    gap: 6px;
}
.dropdown a img {
    width: 24px;
}

.dropdown-content a:hover {
    background-color: var(--Primary-Orange);
    color: var(--Defaut-White);
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in;
    transform: translateY(10px);
}
/* close nav */
/* close header */

.footer {
    padding: 50px 0;
    background-color: var(--white-cl);
}

.footer_top {
    width: 100%;
    display: flex;
    gap: 15px;
}
.footer_brand {
    width: 20%;
}
.footer_advise {
    width: 40%;
}

.footer_payments {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer_title {
    text-transform: uppercase;
    display: block;
    font-size: 13px;
    margin-bottom: 17px;
    font-weight: 700;
    color: var(--text-gray);
}
.brand_imgs {
    display: flex;
    align-items: center;
    gap: 2px;
}
.brand_img {
    width: 92px;
    height: 92px;
    /* padding: 4px;
    border: 1px solid #ddd; */
}
.brand_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand_imgs {
    margin-top: 14px;
}
.brand_info span,
.brand_link a {
    display: block;
    color: var(--text-gray);
}
.brand_link a:hover {
    color: var(--primary-cl);
}
.brand_link {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.advise_staffs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 4px;
    padding: 10px;
    background-color: var(--gray-bg-cl);
    gap: 10px;
}

.advise_staff {
    display: flex;
    gap: 8px;
}
.advise_staff_img {
    width: 35.38px;
    height: 35.38px;
    overflow: hidden;
    border-radius: 100rem;
}
.advise_staff_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.staff_info_name {
    color: var(--primary-cl);
    font-size: 16px;
}
.staff_info_phone {
    color: var(--text-gray);
    font-size: 16px;
}
.footer_centers {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 15px;
}
.footer_center {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footer_center span {
    color: var(--text-gray);
}
.footer_center span:hover {
    color: var(--primary-cl);
}
.cooperate_info {
    display: flex;
    flex-direction: column;
}
.cooperate_info span {
    display: inline-block;
}
.cooperate_info span:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-cl);
}

.cooperate_info span:nth-child(2) {
    font-size: 12px;
    color: var(--text-cl);
}
.cooperate_info span:nth-child(3) {
    font-size: 10px;
    color: var(--text-gray);
    margin-top: 4px;
}
.cooperate_img {
    width: 60px;
    height: 60px;
    border-radius: 100rem;
    flex-shrink: 0;
    overflow: hidden;
}
.cooperate_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.advise_bot {
    margin-top: 24px;
}
.footer_cooperate {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--gray-bg-cl);
    width: max-content;
    cursor: pointer;
}

.footer_verified {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 8px;
}
.footer_verified_item {
    width: 50%;
}

.verified_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer_payment_teammate img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer_social_wrap {
    display: flex;
    align-items: center;
    width: calc(100% / 3);
    gap: 6px;
}
.footer_contact {
    display: flex;
    align-items: center;
    transition: all 0.5s var(--trans);
    cursor: pointer;
}
.footer_contact span {
    font-size: 14px;
}
.footer_contact span,
.footer_contact i {
    font-weight: bold;
    color: var(--primary-cl);
    transition: all 0.5s var(--trans);
}
.footer_contact:hover span,
.footer_contact:hover i {
    color: var(--text-cl);
    transition: all 0.5s var(--trans);
}
.footer_contact:hover i {
    transform: translateX(5px);
}
.footer_socials {
    display: flex;
    align-items: center;
}
.footer_socials:hover .footer_social {
    margin-left: 0;
}
.footer_social:not(:first-child) {
    transition: margin 0.5s var(--trans);
    margin-left: -30px;
}
.footer_social {
    width: 48px;
    height: 48px;
    margin-right: 2px;
    display: block;
    border: 3px solid #fff;
    transition: all 0.4s var(--trans);
    overflow: hidden;
    border-radius: 100px;
    flex-shrink: 0;
    cursor: pointer;
}
.footer_social img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer_address {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 24px;
    display: flex;
    align-items: center;
    padding: 24px 0 24px 24px;
    /* gap: 24px; */
}
.footer_address_item {
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer_address_img {
    width: 50px;
    height: 50px;
}
.footer_address_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer_address_item p span {
    color: var(--text-gray);
}
.footer_address_item {
    color: var(--text-gray);
    font-size: 14px;
    width: calc(100% / 3);
}
.footer_address_item p {
    color: var(--primary-cl);
}
.footer_category {
    margin-top: 24px;
}
.footer_category_wrap {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
}
.category_item_title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: var(--text-cl);
}
.footer_category_item {
    font-size: 12px;
    line-height: 16px;
    color: rgb(128, 128, 137);
}
.footer_address_item a {
    color: rgb(128, 128, 137);
}
.footer_category_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* close footer */

/* main */
/* Product */
.product {
    padding: 56px 0;
}
.product_top {
    display: flex;
    column-gap: 32px;
    align-items: center;
}
.product_line {
    height: 1px;
    background-color: var(--Neutral-200);
    flex: 1 0 0;
}
.product_title {
    padding: 8px 16px;
    background-color: var(--Primary-Orange);
    border-radius: 8px;
    color: var(--Grey-50);
}
.product_top-cta {
    display: flex;
    align-items: center;
    color: var(--Primary-Orange);
    column-gap: 10px;
    transition: all 0.25s linear;
}
.product_top-cta p {
    letter-spacing: 0.744px;
}
.product_top-cta:hover {
    text-decoration: underline;
    text-underline-position: under;
}
.product_list {
    margin-top: 32px;
    display: flex;
    column-gap: 32px;
    position: relative;
}
.product_arrow {
    position: absolute;
    padding: 4px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid var(--Neutral-200, #e8e8e8);
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.25s linear;
}
.product_arrow:hover {
    background-color: var(--Primary-Orange);
    border-color: var(--Primary-Orange);
}
.product_arrow:hover path {
    stroke: #fff;
}
.product_arrow-right {
    right: -56px;
}
.product_arrow-left {
    left: -56px;
}
.product_item {
    max-width: 256px;
    border-radius: 16px;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    flex: 1 0 0;
}
.product_item:hover .product_img {
    transform: scale(1.2);
}
.product_img-wrap {
    max-height: 144px;
    height: 144px;
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
}
.product_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    transition: all 0.25s linear;
}
.product_content {
    padding: 8px 16px 16px 16px;
}
.product_name {
    --lines: 2;
    color: var(--Neutral-900);
    -webkit-line-clamp: var(--lines);
    height: 56px;
}
.product_item-cta {
    margin-top: 12px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--Neutral-900);
    transition: all 0.25s linear;
}
.product_item-cta:hover {
    text-decoration: underline;
    color: var(--Primary-Orange);
    text-underline-position: under;
}
.product_item-cta:hover path {
    stroke: var(--Primary-Orange);
}
.product_item-cta-txt {
    letter-spacing: 0.35px;
}
/* Feature */
.feature {
    padding-bottom: 56px;
}
.feature_top {
    text-align: center;
}
.feature_heading {
    color: var(--Primary-Orange);
}
.feature_title {
    margin: 16px auto 0;
    max-width: 778px;
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
    letter-spacing: 0.48px;
    color: var(--Orange-900);
}
.feature_desc {
    color: var(--Neutral-500);
    letter-spacing: 0.8px;
    max-width: 778px;
    margin: 32px auto 0;
}
.feature_bot {
    margin-top: 56px;
    display: flex;
    column-gap: 32px;
    align-items: center;
}
/* feature left */
.feature_left {
    max-width: 28.3%;
    width: 28.3%;
    height: 608px;
    position: relative;
}
.feature_left-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.feature_left-img--top {
    width: 237px;
    left: 0;
    top: 16.77%;
    height: 357px;
    border-radius: 122px;
    position: absolute;
    z-index: 3;
}
.feature_left-img--bot {
    width: 198px;
    height: 290px;
    bottom: 11.62%;
    right: 49.67px;
    border-radius: 122px;
    position: absolute;
    z-index: 4;
}
.feature_logo {
    position: absolute;
    top: 158px;
    right: 18px;
    z-index: 5;
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px 19px;
    border-radius: 20px;
    background: var(--Defaut-White, #fff);
    box-shadow: 0px 4px 16.4px 0px rgba(252, 84, 48, 0.1);
}
.feature_logo-wrap {
    width: 20px;
    height: 24px;
}
.feature_logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature_logo-name {
    letter-spacing: 0.8px;
    color: var(--Orange-900);
}
.feature_decor-01 {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 85.25px;
}
.feature_decor-02 {
    position: absolute;
    z-index: 2;
    right: 67.85px;
    top: 70.67px;
}
/* feature right */
.feature_right {
    flex: 1 0 0;
}
.feature_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
    gap: 16px;
}
.feature_item {
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.1);
}
.feature_item:hover .feature_img {
    transform: scale(1.2);
}
.feature_img-wrap {
    width: 100%;
    height: 143px;
    overflow: hidden;
    border-radius: 16px 16px 0px 0px;
}
.feature_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    transition: all 0.25s linear;
}
.feature_content {
    padding: 8px 16px 16px;
    text-align: center;
}
.feature_item-name {
    --lines: 1;
    letter-spacing: 0.8px;
    color: var(--Neutral-900);
    -webkit-line-clamp: var(--lines);
}
/* About */
.about {
    position: relative;
}
.about .container {
    position: relative;
    z-index: 1;
}
.about_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 560px;
}
.about_decor-bg {
    position: absolute;
    inset: 0;
}
.about_decor-bg img {
    width: 100%;
}
/* About top */
.about_top {
    position: relative;
    height: 560px;
}
.about_decor-01 {
    position: absolute;
    height: 78.57%;
    margin: 0 auto;
    width: 55.74%;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
}
.about_decor-01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_brand {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 50px 72px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    border-radius: 32px;
    background: var(--Defaut-White, #fff);
    box-shadow: 0px 8px 160px 0px rgba(252, 84, 48, 0.1);
}
/* About bottom */
.about_bot {
    padding: 56px 0;
    position: relative;
}
.about-decor-02 {
    position: absolute;
    width: 78px;
    height: 78px;
}
.about_decor-02--left {
    top: 299px;
    left: -39px;
}
.about_decor-02--right {
    top: 47px;
    right: 74px;
}
.about-decor-03 {
    position: absolute;
    top: 239px;
    right: -39px;
}
.about_content {
    text-align: center;
    position: relative;
    z-index: 2;
}
.about_conent-top {
    display: inline-flex;
    padding: 8px 16px;
    border-radius: 20px;
    column-gap: 8px;
    background: var(--Orange-200);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.about_conent-top img {
    width: 24px;
}
.about_heading {
    color: var(--Primary-Orange);
    letter-spacing: 0.8px;
}
.about_title {
    margin: 16px auto 0;
    height: 112px;
    max-width: 778px;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px; /* 130% */
    letter-spacing: 0.48px;
    color: var(--Orange-900);
}
.about_desc {
    margin: 32px auto 0;
    max-width: 778px;
    letter-spacing: 0.8px;
    color: var(--Neutral-500);
}
.about_list {
    margin-top: 32px;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(211px, 1fr));
    gap: 32px;
}
.about_item {
    border-radius: 16px;
    padding: 32px 8px;
    text-align: center;
    transition: all 0.25s linear;
}
.about_item:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateY(-10px);
    cursor: pointer;
}
.about_item:first-child {
    background: #f3eefb;
}
.about_item:nth-child(2) {
    background: #e5ebfb;
}
.about_item:nth-child(3) {
    background: #fff7e8;
}
.about_item:nth-child(4) {
    background: #edfbe8;
}
.about_item:last-child {
    background: #feeeea;
}
.about_item-img-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 120px;
}
.about_item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about_item-title {
    --lines: 1;
    margin: 12px 0;
    -webkit-line-clamp: var(--lines);
    color: var(--Neutral-900);
}
.about_item-desc {
    --lines: 3;
    -webkit-line-clamp: var(--lines);
    color: var(--Neutral-900);
}
/* Review */
.review {
    position: relative;
    padding-bottom: 56px;
    overflow: hidden;
}
.review-decor-wrap {
    position: absolute;
    width: 86.31%;
    top: 53px;
    left: 50%;
    transform: translateX(-50%);
}
.review-decor-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review .container {
    position: relative;
    z-index: 1;
}
.review_top {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
}
.review_line {
    width: 16.96%;
    height: 1px;
    background-color: var(--Primary-Orange);
}
.review_heading {
    color: var(--Orange-700);
    text-align: center;
}
.review_bot {
    display: flex;
    align-items: center;
    column-gap: 70px;
    max-width: 982px;
    margin: 56px auto 0;
}
.review_arrow {
    flex-shrink: 0;
}
.review_arrow path {
    transition: all 0.25s linear;
}
.review_arrow:hover path {
    stroke: var(--Primary-Orange);
    fill: var(--Primary-Orange);
}
.review_arrow--right {
    transform: rotate(180deg);
}
.review_list {
    position: relative;
    display: flex;
    align-items: center;
    padding: 24px 58px 72px 68px;
}
.review_item {
    position: relative;
    z-index: 1;
    display: flex;
    padding-top: 44px;
    align-items: flex-end;
}
.review_avt {
    position: absolute;
    z-index: 1;
    flex-shrink: 0;
    width: 204px;
    height: 250px;
    border-radius: 16px;
}
.review_avt-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.review_content {
    border-radius: 16px;
    padding: 24px 24px 24px 220px;
    background: #fff;
    height: 206px;
    /* card-drop-2 */
    box-shadow: 20px 14px 40px 0px rgba(0, 0, 0, 0.08);
}
.review_content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review_name {
    --lines: 1;
    -webkit-line-clamp: var(--lines);
    color: var(--Orange-900);
}
.review_job {
    --lines: 1;
    margin-top: 4px;
    -webkit-line-clamp: var(--lines);
    color: var(--Neutral-500);
}
.review_desc {
    --lines: 3;
    margin-top: 16px;
    color: var(--Neutral-900);
    -webkit-line-clamp: var(--lines);
}
.review-decor-bot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 275px;
    height: 127px;
    background-color: #ffe8d7;
    border-radius: 24px;
}
.review-decor-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 119px;
    height: 127px;
    border-radius: 24px;
    background-color: var(--Primary-Orange);
}
/* Blog */
.blog {
    padding-top: 56px;
    position: relative;
    background: linear-gradient(to bottom, #f9f7f1 60%, white 60%);
}
.blog_decor-top {
    position: absolute;
    top: 32px;
    left: 36px;
}
.blog_decor-bot {
    position: absolute;
    bottom: 32px;
    right: 0;
}
.blog .container {
    text-align: center;
    max-width: 1246px;
}
.blog_top {
    text-align: center;
}
.blog_title {
    margin-top: 16px;
    color: var(--Orange-900);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 130% */
    letter-spacing: 0.48px;
}
.blog_list {
    margin-top: 44px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    column-gap: 32px;
    text-align: left;
}
.blog_item,
.blog_item-news {
    display: flex;
    align-items: center;
    column-gap: 32px;
}
.blog_item-news-item {
    border-radius: 16px;
    background: #fff;
    flex: 1;
    overflow: hidden;
    transition: all 0.25s linear;
    box-shadow: 0px 0px 48px -12px rgba(16, 24, 40, 0.18);
}
.blog_item-news-item:hover {
    transform: translateY(-10px);
    cursor: pointer;
}
.blog_item-news-img {
    width: 100%;
    height: 200px;
}
.blog_item-news-content {
    padding: 14px 16px 16px;
}
.blog_item-news-title {
    --lines: 2;
    -webkit-line-clamp: var(--lines);
    color: var(--Neutral-900);
}
.blog_item-news-date {
    color: var(--Neutral-300);
    margin-top: 8px;
}
.blog_item-news-desc {
    --lines: 5;
    margin-top: 14px;
    -webkit-line-clamp: var(--lines);
}
.blog-cta {
    margin: 44px auto 0;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    column-gap: 8px;
    padding: 10px 22.5px;
    background-color: var(--Primary-Orange);
    border-radius: 12px;
    max-width: 170px;
    transition: all 0.25s linear;
}
.blog-cta-txt {
    color: var(--Orange-200);
    
}
.blog-cta:hover{
    background-color: var(--Defaut-White);
    border: 1px solid var(--Primary-Orange);
}
.blog-cta:hover .blog-cta-txt{
    color: var(--Primary-Orange);
}
.blog-cta:hover path{
    stroke: var(--Primary-Orange);
}
/* close main */

/* Responsive */
@media (max-width: 1320px) {
    .product_arrow-left {
        left: 10px;
    }
    .product_arrow-right {
        right: 10px;
    }
    .pc-text-10 {
        font-size: 10px;
        line-height: 14px;
    }
    .pc-text-base {
        font-size: 16px;
        line-height: 1.5rem; /* 24px */
    }
    .pc-text-sm {
        font-size: 14px;
        line-height: 1.25rem; /* 20px */
    }
    .pc-text-xs {
        font-size: 12px;
        line-height: 1rem; /* 16px */
    }
    .pc-text-lg {
        font-size: 1.125rem; /* 18px */
        line-height: 1.75rem; /* 28px */
    }
    .pc-text-xl {
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
    }
    .pc-text-2xl {
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */
    }
    .pc-text-3xl {
        font-size: 1.875rem; /* 30px */
        line-height: 2.25rem; /* 36px */
    }
    .pc-text-4xl {
        font-size: 2.25rem; /* 36px */
        line-height: 2.5rem; /* 40px */
    }
    /* About */
    .about_brand {
        column-gap: 20px;
    }
    .about-decor-03 {
        right: -12px;
    }
}
@media (max-width: 991.98px) {
    .hide-tablet {
        display: none;
    }
    .text-10 {
        font-size: 10px;
        line-height: 14px;
    }
    .text-base {
        font-size: 16px;
        line-height: 1.5rem; /* 24px */
    }
    .text-sm {
        font-size: 14px;
        line-height: 1.25rem; /* 20px */
    }
    .text-xs {
        font-size: 12px;
        line-height: 1rem; /* 16px */
    }
    .text-lg {
        font-size: 1.125rem; /* 18px */
        line-height: 1.75rem; /* 28px */
    }
    .text-xl {
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
    }
    .text-2xl {
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */
    }
    .text-3xl {
        font-size: 1.875rem; /* 30px */
        line-height: 2.25rem; /* 36px */
    }
    .text-4xl {
        font-size: 2.25rem; /* 36px */
        line-height: 2.5rem; /* 40px */
    }
    /* Product */
    .product {
        padding: 36px 0;
        overflow: hidden;
    }
    .product_list {
        margin-top: 20px;
        column-gap: 24px;
    }

    .product_item {
        flex: 1 0 100%;
    }
    .product_name {
        --lines: 1;
        height: auto;
    }
    /* Feature */
    .feature {
        padding-bottom: 36px;
    }
    .feature_title {
        margin-top: 12px;
    }
    .feature_desc {
        margin-top: 24px;
    }
    .feature_bot {
        margin-top: 20px;
        flex-direction: column;
        row-gap: 20px;
    }
    .feature_left {
        max-width: 100%;
        width: 56%;
        height: 480px;
    }
    .feature_right {
        width: 100%;
        flex: 0;
    }
    .feature_list {
        gap: 24px;
    }
    .feature_img-wrap {
        height: 176px;
    }
    /* About */
    .about_decor-01 {
        width: 100%;
    }
    .about_brand {
        flex-wrap: wrap;
        top: 50%;
        padding: 30px 24px;
    }
    .about_bot {
        padding: 36px 0;
    }
    .about_title {
        height: auto;
        min-width: 60%;
    }
    /* Review */
    .review {
        padding-bottom: 36px;
    }
    .review_top {
        column-gap: 12px;
    }
    .review_bot {
        margin: 36px auto 0;
        column-gap: 12px;
    }
    .review_list {
        padding: 10px;
    }
    /* Blog */
    .blog {
        padding-top: 36px;
    }
    .blog_list {
        margin-top: 24px;
        column-gap: 16px;
    }
    .blog_item-news {
        column-gap: 16px;
    }
    .blog_item-news-img {
        height: 150px;
    }
    .blog_item-news-desc {
        --lines: 2;
        margin-top: 10px;
    }
    .blog-cta {
        margin-top: 24px;
    }
}
@media (max-width: 767.98px) {
    .hide-mb {
        display: none;
    }
    .mb-text-10 {
        font-size: 10px;
        line-height: 14px;
    }
    .mb-text-base {
        font-size: 16px;
        line-height: 1.5rem; /* 24px */
    }
    .mb-text-sm {
        font-size: 14px;
        line-height: 1.25rem; /* 20px */
    }
    .mb-text-xs {
        font-size: 12px;
        line-height: 1rem; /* 16px */
    }
    .mb-text-lg {
        font-size: 1.125rem; /* 18px */
        line-height: 1.75rem; /* 28px */
    }
    .mb-text-xl {
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
    }
    .mb-text-2xl {
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */
    }
    .mb-text-3xl {
        font-size: 1.875rem; /* 30px */
        line-height: 2.25rem; /* 36px */
    }
    .mb-text-4xl {
        font-size: 2.25rem; /* 36px */
        line-height: 2.5rem; /* 40px */
    }
    /* Feature */
    .feature_left {
        width: 90%;
    }
    /* About */
    .about_top {
        height: 680px;
    }
    .about_decor-01 {
        top: 0;
        height: 50%;
    }
    .about_brand {
        gap: 12px;
        top: 38%;
    }
    /* Review */
    .review_item {
        padding: 0;
    }
    .review_content {
        padding: 12px;
    }
    .review_content-top {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;
    }
    .review_avt {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        top: 14px;
        right: 14px;
    }
    .review_name,
    .review_job {
        --lines: 2;
        max-width: 138px;
    }
    .review_desc {
        --lines: 2;
        margin-top: 10px;
    }
    /* Blog */
    .blog_item-news {
        flex-direction: column;
        row-gap: 24px;
    }
}
